@import "~src/styles/colors";
@import "~src/styles/variables";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accent;
  width: 100vw;
  height: 100vh;

  mat-card {
    width: 75%;
    max-width: 600px;
    max-height: 80%;
    padding: 0;
  }

  .outside-controls {
    position: absolute;
    height: $listHeight;
    width: 200px;
    bottom: 0;
    right: -220px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: border-box;

    .bottom-buttons {
      margin-top: auto;
      display: flex;
      flex-direction: column;
    }

    .delete-debt {
      margin-right: 3px;

      ::ng-deep mat-icon {
        width: 21px;
      }
    }

    app-outside-button + app-outside-button {
      margin-top: 30px;
    }
  }
}
