:host {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-card {
    width: 75%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    .spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px;
    }

    .buttons {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      * + * {
        margin-top: 15px;
      }
    }
  }
}
