@import "~src/styles/variables";
@import "~src/styles/colors";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $listHeight;
  padding: 70px;
  box-sizing: border-box;

  .message {
    margin-top: 20px;

    &.red {
      color: $red;
    }

    &.accent {
      color: $accent;
    }
  }
}
