@import "~src/styles/colors";

app-list-item {

  &.unaccepted {

    ::ng-deep .user-image {
      filter: grayscale(100%);
    }
  }
}

mat-icon {
  width: 34px;
  height: 34px;

  &.red {
    &::ng-deep {
      fill: $red;
      transform: rotate(-90deg);
    }
  }

  &.green {
    &::ng-deep {
      fill: $green;
      transform: rotate(90deg);
    }
  }
}
