<div *ngIf="!config.hideHeaderPicture" class="avatar-container">
  <div class="avatar">
    <img [src]="picture" alt="avatar">
  </div>
</div>

<div class="header">
  <div class="action">
    <button
      *ngIf="config.back"
      mat-icon-button
      (click)="back()"
    >
      <mat-icon
        [svgIcon]="backIcon"
      ></mat-icon>
    </button>
  </div>

  <h1 class="title">
    {{ title }}
  </h1>

  <div class="action">
    <button
      class="refresh-button"
      [ngClass]="{ 'refreshing': isRefreshing }"
      *ngIf="config.refresh"
      mat-icon-button
      (click)="refresh()"
    >
      <mat-icon
        [svgIcon]="refreshIcon"
      ></mat-icon>
    </button>
  </div>
</div>
