@import "~src/styles/colors";
@import "~src/styles/variables";

:host {
  display: block;
  height: $listHeight;
  overflow: auto;

  ::ng-deep * {
    &:focus {
      outline: none;
    }
  }

  * + * {
    border-top: 1px solid $lightGray;
  }
}
