@import "~src/styles/colors";

:host {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px;

  &:hover {
    background-color: $lightGray;
  }

  .user-image {
    border-radius: 100%;
    overflow: hidden;
    border: 4px solid $lightGray;
    width: 80px;
    height: 80px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .debt-info {
    margin-left: 20px;

    p {
      font-size: 18px;

      &.red {
        color: $red;
      }

      &.green {
        color: $green;
      }

      &.black {
        color: black;
      }
    }
  }

  .message {
    margin-left: auto;
    color: $accent;
  }
}
