@import "~src/styles/colors";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accent;
  width: 100vw;
  height: 100vh;

  mat-card {
    width: 75%;
    max-width: 600px;
    max-height: 80%;
    padding: 0;
  }
}
