<ng-template #operationsBlock>
  <ng-template #operations>
    <app-operations-list
      [operations]="debt.moneyOperations"
      [userId]="debt.user.id"
      [debtId]="debt.id"
    ></app-operations-list>
  </ng-template>

  <app-creation-screen
    *ngIf="isDebtCreationStatus; else operations"
    [debt]="debt"
  ></app-creation-screen>

  <app-user-deleted-card
    *ngIf="isUserDeleted"
    [debt]="debt"
  ></app-user-deleted-card>
</ng-template>

<app-spinner-container
  *ngIf="isUpdating || !debt; else operationsBlock"
></app-spinner-container>
